doctype html
html
  head
    title= title
    link(rel='icon', href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/javascripts/pixi.js')
    script(src='/javascripts/pixi-svg-graphics.js')
    script(src='/javascripts/vue.js')
    script(src='/javascripts/main.js')
  body
    block content
